<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[service_bookmarks]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('service_bookmarks_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b style=color:green>' + data.application + '<%:RUNNING%></b></em>';
			} else {
				tb.innerHTML = '<em><b style=color:red>' + data.application + '<%:NOT RUNNING%></b></em>';
			}
		}
	}
);
//]]>
</script>
<fieldset class="cbi-section">
	<p id="service_bookmarks_status" style="margin-top: 12px;">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>